@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    font-size: 16px;
   
}

header {
    padding-top: 30px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    margin-bottom: 50px;
    margin: auto 60px;
}

.nav-links {
    display: flex;
    gap: 50px;
    opacity:0.5;
    font-family: "Open Sans", sans-serif;
    color: hsl(243, 87%, 12%);
    
}

.logo {
    width: 100px
}

.section-1 {
    display: flex;
    justify-content: space-around;
    margin: 80px 60px;
    
}

.section-1 h1 {
    font-family:"Raleway", sans-serif;
}

.section-1 p {
    font-family:"Open Sans", sans-serif;
}

.discription-1 {
    max-width: 510px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px
}

.illustration-1 {
    width: 30rem;
}

.input-email {
    display: flex;
    gap: 20px;
}

input {
    height: 45px;
    width: 50%;
    font-family: "Open Sans", sans-serif;
    padding: 0px 20px;
    font-size: 16px;
    border-radius: 0.2rem;
    border: 1px solid black;
}

button {
    width: 40%;
    height: 45px;
    background-color: hsl(224, 93%, 58%);
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    border: none;
    color: white;
    font-weight: 600;
    box-shadow: 1px 1px 10px  hsl(224, 93%, 58%);
    border-radius: 0.2rem;
}

.section-2 {
    display: flex;
    justify-content: space-around;
    background-image: url(images/bg-curve-desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0px;
}

.discription-2 {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    color: hsl(243, 87%, 12%); 
    margin: auto 60px; 
}

.discription-2 h1 {
    font-family:"Raleway", sans-serif;
    margin-bottom: 20px;
}
.discription-2 p {
    font-family:"Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.quote {
    background-color:white;
    width: 420px;
    padding: 20px 40px;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 5px hsl(243, 87%, 12%);
}

.quotes {
    width: 30px;
    margin-bottom: 10px;
}

.ceo-quote {
    margin: 20px 0px;
}

.avator {
    width: 60px;
    border-radius: 50%;
    border: 1px solid steelblue;
}

.profile {
    display: flex;
    align-items: center;
    gap: 20px;
}

.name h3 {
    font-family: "Raleway", sans-serif;
}

a {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    display: flex;
    gap: 10px;
    text-decoration: underline;
    text-decoration-skip-ink: auto;
}

.illustration-2 {
    margin: 60px;
    width: 40rem;
}

.section-3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:70px 0px;
    background-color: hsl(238, 22%, 44%);
    color: white;
}

.discription-3 {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.discription-3 h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 32px;
}
.discription-3 p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.email-input2 {
    width: 450px;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: hsl(243, 87%, 12%);
    color: white;
    padding: 50px 0;
    
}

.further-info {
    max-width: 70rem;
    display: flex;
    justify-content: space-around;
    align-items: start;
}

.footer-logo {
    margin-left: 95px;
    width: 100px; 
    
}


.address {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}
  
.phone-address {
    display: flex;
    gap: 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}
.email-address {
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.footerthing {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    font-family: "Open Sans", sans-serif;
}

.social-media {
    display: flex;
    gap: 20px;
}

.facebook {
    width: 30px;
    background-color: white;
    border-radius: 50%;
    border: none;
}
.instagram {
    width: 30px;
    background-color: white;
    border-radius: 50%;
    border:none;
}
.twitter {
    width: 30px;
    background-color: white;
    border-radius: 50%;
    border: none;
}

footer .footer-logo img {
    filter: brightness(0) invert(1);
}


@media(max-width: 375px){

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 10px;
        padding: 40px 0px;
        font-size: 15px;
    }

    .logo {
        width: 50px
    }

    .nav-links {
        display: flex;
        gap: 10px;
        font-weight: 400;
        font-family: "Open Sans", sans-serif;
        color: hsl(243, 87%, 12%);
    }

    .section-1 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 40px;
        margin: auto 10px;
        text-align: center;
        font-size: 13px
        
    }

    .discription-1 {
        max-width: 375px;
        display: flex;
        flex-direction: column;
        gap: 30px
    }

    .illustration-1 {
        width: 20rem;
        padding: 0;
        margin:0;
    }

    .input-email {
        display: flex;
        flex-direction: column;
        max-width: 375px;
        gap: 10px;
    }
    
     input {
           height: 45px;
           width: 100%;
           font-family: "Open Sans", sans-serif;
           padding: 0px 20px;
           font-size: 16px;
           border-radius: 0.2rem;
           border: 1px solid black;
    }

    button {
        width: 100%;
        height: 45px;
        background-color: hsl(224, 93%, 58%);
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        border: none;
        color: white;
        font-weight: 600;
        box-shadow: 1px 1px 10px  hsl(224, 93%, 58%);
        border-radius: 0.2rem;
    }

    .section-2 {
        display: flex;
        flex-direction: column;
        gap:30px;
        background-image: url(images/bg-curve-desktop.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 40px 0px;
    }

    .discription-2 {
        max-width: 375px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        color: hsl(243, 87%, 12%); 
        margin: auto 10px;
        text-align: center; 
    }

    .discription-2 h1 {
        font-size: 20px;
    }

    .quote {
        background-color:white;
        width: 320px;
        padding: 20px 5px;
        border-radius: 0.5rem;
        box-shadow: 2px 2px 5px hsl(243, 87%, 12%);
        
    }
    
    .quotes {
        width: 30px;
        margin-bottom: 10px;
        
    }
    
    .ceo-quote {
        margin: 20px 0px;
        font-size: 10px
    }

    a {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        display: flex;
        gap: 10px;
        text-decoration: underline;
        text-decoration-skip-ink: auto;
        align-self: center;
    }

    .illustration-2 {
        margin-right: 60px;
        width: 25rem;
    }

    .section-3 {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        padding:70px 10px;
        background-color: hsl(238, 22%, 44%);
        color: white;
        text-align: center;
    }

    .discription-3 {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        text-align: center;
    }

    .discription-3 h2 {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 25px;
        text-align: center;
    }
    .discription-3 p {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 16px;
    }

    .input {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .email-input2 {
        width: 100%;
    }

    footer {
        display: flex;
        flex-direction: column;
        background-color: hsl(243, 87%, 12%);
        color: white;
        padding: 50px 0;
        
    }

    .further-info {
        max-width: 70rem;
        display: flex;
        flex-direction: column;
        align-items: start;
        padding-left: 30px;
        gap: 20px;
    }
    
    .footer-logo {
        margin-left: 25px;
        width: 50px; 
        
    }
}

